@import './variables.less';

.cy-btn(@color:#ddd,@font-color:#fff){
	background-color: @color;
	color: @font-color;
	&.btn-lg{
		width: 60%;
	}
	border-color:lighten(@color,10%);
	border-bottom:5px solid darken(@color, 10%);
	outline:none;
	&:active{
		border-bottom:5px solid @color;
	}
}
.btn-clGreen,
.btn-clGreen:hover,
.btn-clGreen:focus, 
.btn-clGreen:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #35b0b6;
  border: none;
  border-bottom: 2px solid #177f84;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.btn-clGreen:hover {
  background-color: darken(#35b0b6, 5%);
}
