@import 'variables';
@import "bg";
@import "button";
@import "slide";
@import "./module/store.less";
@import "./module/login.less";
@import "./module/themeDetail.less";
@import "./module/package.less";

body {
    display: block;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font: normal 100% 'arial','Microsoft Yahei';
    color: @brand-white;
    background: @gray;
    overflow: auto;
}
.navbar-default {
    padding: 0 13px;
    overflow: hidden;
		.navbar-brand {
			color: inherit;
		}
}

.diy-footer{
	height:@nav-height;
	.active {
		background-color:@brand-green;
		color:@brand-white;
	}
	.box-shadow(1px,-3px,3px,#ddd);
	.btn{
		border-radius:0;
	}
	position:fixed;
	bottom:0px;
}

.logo{ text-align:center;
	a {
		.icon(125px,125px)
	}
}
.form{
	padding:0 35px;
	color:#000;
	font-size:15px;
}
h1{
	color:@black;
	text-align:center;
}

.btn.cy-btn{
	display:block;
	margin:0 auto;
	.cy-btn(@brand-green);
}
@media (min-width: 768px) {
	.navbar-header{
		float:none;
	}
}

.preview-container{
	display: block;
	text-align: center;
}

.layout {

	&:before,&:after{
		display: table;
		content: ' ';
		clear: both;
	}
	.layout-container{
		width:100%;
		text-align:center;
		margin:20px auto 0;
		padding:5px;
		color:#000;
		font-size: 1.2em;

		.box-shadow(1px,1px,3px,#ccc);

		img {
			max-width:100%;
		}

		.info {
			margin: 10px 0 0 0;
			text-align:left;
		}

		.price {
			color:@brand-green;
		}
	}
}

