@import 'variables';
@import "bg";
@import "button";
@import "./module/home.less";
@import "./module/login.less";

body {
    background: @gray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: @brand-white;
}
.navbar-default {
    padding: 0 13px;
    overflow: hidden;
		.navbar-brand {
			color: inherit;
		}
}

.logo{ text-align:center;
	a {
		display:inline-block;
		text-indent:-9999px;
		width:125px;
		height:125px;
		.box-shadow(1px,1px,5px,#ddd);
	}
}
@media (min-width: 768px) {
	.navbar-header{
		float:none;
	}
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

