I<div class="btn-group btn-group-justified diy-footer">
	<a class="btn btn-default" role="button">
		<i class="icon-picture"></i>
			Wallpaper
	</a>
	<a class="btn btn-default" role="button">
		<i class="icon-th"></i>
		Icons
	</a>
	<a class="btn btn-default active" role="button">
		<i class="icon-link-ext"></i>
		Package
	</a>
</div>
