<nav class="navbar navbar-default brand-bg" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				C-launcher.com
			</a>
			<a href="/register" class="navbar-brand pull-right">
				Register
			</a>
			<a href="/login" class="navbar-brand pull-right">
				Login
			</a>
		</div>

	</div>
</nav>
