{{ if(session.user && session.user.userId) { }}
<nav class="navbar navbar-default brand-bg" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand logo" href="/store">
				C-launcher.com
			</a>
			<div class="pull-right">
				<a href="http://www.c-launcher.com/main/ld1/clauncher_121040000.apk" download class="navbar-brand">
					<small>
						<i class="icon-download-1"></i>
						CLauncher
					</small>
				</a>
				<span class="splider navbar-brand"></span>
				<a href="/login" class="navbar-brand">
          <img class="avatar" src="{{=session.user.avatar}}"/>
				</a>
			</div>
		</div>

	</div>
</nav>
{{ } else { }}
<nav class="navbar navbar-default brand-bg" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand logo" href="/store">
				C-launcher.com
			</a>

			<div class="pull-right">
				<a href="/login" class="navbar-brand ">
					Login
				</a>
				<span class="splider navbar-brand"></span>
				<a href="/register" class="navbar-brand ">
					Register
				</a>
			</div>
		</div>

	</div>
</nav>
{{ } }}
