<div class="layout wallpaper">
	<div class="col-xs-6">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
		</div>
	</div>
</div>
