<div class="layout theme">
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
			<p class="info"><span>Happy Familiy</span><span class="pull-right price">Free</span></p>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
			<p class="info"><span>Happy Familiy</span><span class="pull-right price">Free</span></p>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
			<p class="info"><span>Happy Familiy</span><span class="pull-right price">Free</span></p>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
			<p class="info"><span>Happy Familiy</span><span class="pull-right price">Free</span></p>
		</div>
	</div>
</div>
