<div class="layout icon-container">
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/styles/image/detail.jpg"></img>
		</div>
	</div>
</div>
