<div class="layout wallpaper scroll">

	{{ wallpapers.forEach(function(wallpaper) { }}
		<a href="/store/wallpaper/{{=wallpaper._id}}" class="col-xs-6">
			<div class="layout-container">
				<img src="{{RESOURCE_PATH}}{{wallpaper.smallPath}}"></img>
			</div>
		</a>
	{{ }) }}

	<a href="/store/more/wallpaper?page=1">next page</a>
</div>
