<nav class="navbar navbar-default clear-fix" role="navigation">
	<div class="wrap">
		<div class="content">
			<a href="http://www.c-launcher.com/main/ld1/clauncher_121040000.apk" class="download">Install CLauncher</a>
			<a href="http://www.c-launcher.com" target="_blank" class="logo">C-Launcher.com</a>
		</div>
	</div>
</nav>
