<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=480,target-densitydpi=device-dpi" />
		<title>C-launcher: Awesome launcher for Android!</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="http://www.c-launcher.com" />
		<meta property="og:site_name" content="cLauncher"/>

		<!-- build:css({.tmp,app}) /styles/bootstrap.css -->
		<link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/bower_components/switchery/dist/switchery.css">
		<!-- endbuild -->

		<!-- build:css({.tmp,app}) /styles/webicon/css/webicons.css -->
		<link rel="stylesheet" href="/styles/webicon/css/animation.css">
		<link rel="stylesheet" href="/styles/webicon/css/fontello.css">
		<!-- endbuild -->

		<!-- build:css({.tmp,app}) /styles/main.css -->
		<link rel="stylesheet" href="/styles/main.css">
		<!-- endbuild -->
	</head>
	<body>
