    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <!-- build:js({.tmp,app}) /scripts/module.js -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/switchery/dist/switchery.js"></script>
        <script src="/scripts/vendor/Swipe-master/swipe.js"></script>
        <script src="/scripts/vendor/jscroll/jquery.jscroll.js"></script>
        <script src="/scripts/module/switch.js"></script>
        <script src="/scripts/module/slide.js"></script>
        <script src="/scripts/module/scroll.js"></script>
        <script src="/scripts/module/buildPack.js"></script>
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) /scripts/main.js -->

        <!-- endbuild -->
</body>
</html>
