<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=480,target-densitydpi=device-dpi,user-scalable=no" />
		<title>C-launcher: Awesome launcher for Android!</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="http://www.c-launcher.com" />
		<meta property="og:site_name" content="cLauncher"/>

		<!-- build:css({.tmp,app}) /styles/bootstrap.css -->
		<link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/bower_components/switchery/dist/switchery.css">
		<!-- endbuild -->

		<!-- build:css({.tmp,app}) /styles/webicon/css/webicons.css -->
		<link rel="stylesheet" href="/styles/webicon/css/animation.css">
		<link rel="stylesheet" href="/styles/webicon/css/fontello.css">
		<!-- endbuild -->

		<!-- build:css({.tmp,app}) /styles/main.css -->
		<link rel="stylesheet" href="/styles/main.css">
		<!-- endbuild -->
</head>
<body>
<script>
	window.onload = function initialLoad() {
		updateOrientation();
	}
	function updateOrientation() {
		var contentType = "";
		debugger;
		switch (window.orientation) {
			case 0: contentType = "normal";
			break;
			case -90: contentType = "right";
			break;
			case 90: contentType = "left";
			break;
			case 180: contentType = "flipped";
			break; 
		}
		document.getElementsByTagName("body")[0].setAttribute("class", contentType); 
	}
	/*
	//屏幕方向标识，0横屏，其他值竖屏
	var orientation = 0;
	//转屏事件，内部功能可以自定义
	function screenOrientationEvent () {
	    if (orientation == 0) {
	    	document.getElementsByTagName("body")[0].setAttribute("class", "normal"); 
	    } else {
	    	document.getElementsByTagName("body")[0].setAttribute("class", "right");
	    }
	}
	var innerWidthTmp = window.innerWidth;
	//横竖屏事件监听方法
	function screenOrientationListener(){
	    try {
	        var iw = window.innerWidth;     
	        //屏幕方向改变处理
	        if (iw != innerWidthTmp) {
	            if (iw>window.innerHeight) {
	            	orientation = 90;
	            } else {
	            	orientation = 0;
	            }
	            //调用转屏事件
	            screenOrientationEvent();
	            innerWidthTmp = iw;
	        }
	    } catch(e) {
	    	alert(e);
	    };
	}
	//启动横竖屏事件监听
	screenOrientationListener();
	*/
</script>