    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
				<!-- <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script> -->
				<script src="bower_components/switchery/dist/switchery.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/async-local-storage.js -->
        <script src="/scripts/async.localStorage.js"></script>
				<!-- <script src="/scripts/async.localStorage.examples.js"></script> -->
        <!-- endbuild -->

        <!-- build:js scripts/fullscreensnippet.js -->
        <!-- <script src="scripts/fullscreensnippet.js"></script> -->
        <!-- endbuild -->

        <!-- build:js scripts/fastclick.js -->
        <script src="/scripts/fastclick.js"></script>
				<!-- <script src="/scripts/fastclick.example.js"></script> -->
        <!-- endbuild -->

        <!-- build:js scripts/module.js -->
        <script src="/scripts/vendor/Swipe-master/swipe.js"></script>
        <script src="/scripts/module/switch.js"></script>
        <script src="/scripts/module/slide.js"></script>
        <!-- endbuild -->
</body>
</html>
