<div class="theme-preview">
	<div id="sub-slider" class="swipe" slider>
		<div class="swipe-wrap">
			{{theme.preview.forEach(function(url) { }}
			<div class="preview-container">
				<div class="loader">
          <img class="thum" src="{{=THEME_PREVIEW_PATH}}{{=url}}"></img>
					<img class="loading" src="/images/default.png"></img>
				</div>
			</div>
			{{ }) }}
		</div>
	</div>

	<div class="sub-menu-bar">
		{{theme.preview.forEach(function(url) { }}
		<a class="cy-dot-btn btn" role="button">
		</a>
		{{ }) }}
	</div>
</div>
