	<div id="focus" class="focus">
		<div class="nav">
			<ul></ul>
		</div>
		<div class="pic">
			<ul>
					<li><a href="#"><img _src="/styles/image/detail.jpg" src="/styles/image/diy.jpg" /></a></li>
					<li><a href="#"><img _src="/styles/image/detail.jpg" src="/styles/image/diy.jpg"/></a></li>
					<li><a href="#"><img _src="/styles/image/detail.jpg" src="/styles/image/diy.jpg"/></a></li>
			</ul>
		</div>
	</div>
<script src="/scripts/module/TouchSlide.1.1.source.js"></script>
<script type="text/javascript">
	TouchSlide({ 
		slideCell:"#focus",
		titCell:".nav ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
		mainCell:".pic ul", 
		effect:"left", 
		autoPlay:false,//自动播放
		autoPage:true, //自动分页
		switchLoad:"_src" //切换加载，真实图片路径为"_src" 
	});
</script>
