<div class="theme-preview">
	<div id="sub-slider" class="swipe" slider>
		<div class="swipe-wrap">
			{{screens.forEach(function(screen) { }}
			<div class="preview-container">
				<div class="loader">
					<img class="thum" src="{{=screen.src}}"></img>
					<img class="loading" src="/images/default.png"></img>
				</div>
			</div>
			{{ }) }}
		</div>
	</div>

	<div class="sub-menu-bar">
		{{screens.forEach(function(screen) { }}
		<a class="cy-dot-btn btn" role="button">
		</a>
		{{ }) }}
	</div>
</div>
