{{-include ../partials/pageHead.ejs }}
<div class="page-store">

  <div class="fixed">
    {{-include ../partials/headerStore.ejs }}
    {{-include navStore.ejs }}
  </div>

	<div id="slider" class="swipe">
		<div class="swipe-wrap">

	<!-- layout theme -->
	{{-include layoutTheme.ejs }}
	<!-- layout wallpaper -->
	{{-include layoutWallpaper.ejs }}
	<!-- layout diy -->
	{{-include layoutDiy.ejs }}
		</div>
	</div>


</div>

{{-include ../partials/pageFoot.ejs }}
