<div class="layout wallpaper scroll">

	{{ wallpapers.forEach(function(wallpaper) { }}
		<div class="layout-container">
			<a href="/store/wallpaper/{{=wallpaper._id}}" target="_blank" class="">
				<div class="loader">
					<img class="thum" src="{{=WALLPAPER_PATH}}{{=wallpaper.smallPath}}"></img>
					<img class="loading" src="/images/default.png"></img>
				</div>
			</a>
		</div>
	{{ }) }}

	<!-- <div class="more clearfix"> -->
		<a class="btn cy-btn" href="/store/more/wallpaper?page=2">More</a>
	<!-- </div> -->
</div>
