<div class="layout wallpaper scroll">

	{{ wallpapers.forEach(function(wallpaper) { }}
		<a href="/store/wallpaper/{{=wallpaper._id}}" class="col-xs-6">
			<div class="layout-container">
				<div class="loader">
					<img class="thum" src="{{RESOURCE_PATH}}{{wallpaper.smallPath}}"></img>
					<img class="loading" src="/images/default.png"></img>
				</div>
			</div>
		</a>
	{{ }) }}

	<div class="more clearfix">
		<a class="btn cy-btn" href="/store/more/wallpaper?page=1">More</a>
	</div>
</div>
