{{themes.forEach(function(theme) { }}
<a href="/store/theme/{{=theme._id}}" class="col-xs-4">
	<div class="layout-container">
		<div class="loader">
			<img class="thum" src="{{=THEME_THUMBNAIL_PATH}}{{=theme.thumbnail}}"></img>
			<img class="loading" src="/images/default.png"></img>
		</div>
		<p class="info"><span class="ellipsis">{{=theme.title}}</span><span class="pull-right price">Free</span></p>
	</div>
</a>
{{ }) }}
{{ if(themes && themes.length) { }}
<div class="clearfix more">
	<a class="btn cy-btn" href="/store/more/theme?page={{=next_page}}">More</a>
</div>
{{ } }}
