<div class="btn-group btn-group-justified menu-bar">
	<a class="btn btn-default active" role="button">
		<i class="icon-t-shirt"></i>
			Theme
	</a>
	<a class="btn btn-default" role="button">
		<i class="icon-picture"></i>
		Wallpaper
	</a>
	<a class="btn btn-default " role="button">
		<i class="icon-edit"></i>
		DIY
	</a>
</div>
