<div class="btn-group btn-group-justified menu-bar">
	<a class="btn btn-default active slidable" role="button">
		<i class="icon-t-shirt"></i>
			Theme
	</a>
	<a class="btn btn-default slidable" role="button">
		<i class="icon-picture"></i>
		Wallpaper
	</a>
	<a class="btn btn-default " href="/design" role="button">
		<i class="icon-edit"></i>
		DIY
	</a>
</div>
