{{-include ../partials/pageHead.ejs }}
<div class="theme-detail">
	{{-include ../partials/header.ejs }}
	<div class="layout">
		<div class="info-bar">
			<div class="labes col-xs-6">
				<p><label>Name:</label>{{=theme.title}}</p>
				<p><label>Rate:</label>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star-empty"></i>
				</p>
				<p><label>Label:</label>{{=theme.size}}</p>
			</div>
			<div class="right col-xs-6">
				<a href="/store/theme/{{=theme.themeId}}/download?path={{=theme.packageFile[4].file}}" class="btn btn-default btn-lg cy-btn">Download</a>
			</div>
		</div>
		{{-include ../partials/themePreview.ejs }}
	</div>

</div>
{{-include ../partials/pageFoot.ejs }}
