{{-include ../partials/pageHead.ejs }}
{{-include ../partials/headerStore.ejs }}
<div class="theme-detail form">

  <div class="right col-xs-offset-6">
    <a href="/store/wallpaper/{{=wallpaperId}}/download" class="btn btn-default btn-lg cy-btn">Download</a>
  </div>
  

</div>
{{-include ../partials/pageFoot.ejs }}
