{{-include ../partials/pageHead.ejs }}
{{-include ../partials/header.ejs }}
<div class="wallpaper-detail">
	<div class="right col-xs-offset-6">
		<a href="/store/wallpaper/{{=wallpaperId}}/download" download class="btn btn-default btn-lg cy-btn">Download</a>
	</div>
	<hr>
	<img src="/images/default.png" alt="{{=wallpaperId}}">
</div>

{{-include ../partials/pageFoot.ejs }}
