{{-include partials/pageHead.ejs }}
    <!-- Page content of course! -->
    <!-- Custom styles for this template -->
<style>
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  /* Set widths on the navbar form inputs since otherwise they're 100% wide */
  .navbar-form input[type="text"],
  .navbar-form input[type="password"] {
    width: 180px;
  }

  /* Wrapping element */
  /* Set some basic padding to keep content from hitting the edges */
  .body-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Let the jumbotron breathe */
    .jumbotron {
      margin-top: 20px;
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
      padding: 0;
    }
  }
</style>


{{-include partials/header.ejs }}
<div class="container">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
                    <h1 class=''>'Allo, 'Allo!</h1>
                <p>You now have</p>
                <ul>
                    <li>HTML5 Boilerplate</li>
                    <li>Twitter Bootstrap 3</li>
                    <li>RequireJS</li>
                    <li>Async localStorage Polyfill</li>
                    <li>Fullscreen API snippet</li>
                    <li>FastClick</li>
                </ul>
                <p>installed.</p>
                <h3>Enjoy coding! - Yeoman</h3>

                <h3>Wallpaper List From MongoDB: </h3>
                <ul>
                  {{ wallpapers.forEach(function(wp, idx) { }}
                    <li> {{=wp.title}}({{=wp.author}}) </li>
                  {{ }); }}
                </ul>

    </p><p><span id="status"></span></p>
  </div>

  <div class="body-content">

    <!-- Example row of columns -->
    <div class="row">
      <div class="col col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>
      <div class="col col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div>
      <div class="col col-lg-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; Company 2013</p>
    </footer>
  </div>

</div> <!-- /container -->


    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/async-local-storage.js -->
        <script src="scripts/async.localStorage.js"></script>
        <script src="scripts/async.localStorage.examples.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/fullscreensnippet.js -->
        <!-- <script src="scripts/fullscreensnippet.js"></script> -->
        <!-- endbuild -->

        <!-- build:js scripts/fastclick.js -->
        <script src="scripts/fastclick.js"></script>
        <script src="scripts/fastclick.example.js"></script>
        <!-- endbuild -->
</body>
</html>
