{{-include partials/pageHead.ejs }}
{{-include partials/navBar.ejs }}

<div class="container">
  <div class="wrap" id="tabBox">
    <div class="hd clearfix">
      <ul>
        <li><a href="#" class="theme"><span>Theme</span></a></li>
        <li><a href="#" class="wallpaper"><span>Wallpaper</span></a></li>
        <li><a href="#" class="diy"><span>DIY</span></a></li>
      </ul>
    </div>
    <div class="bd" id="tabBox-bd">
      <div class="con">
        <div class="themes" id="themes">
          <div>
            <div class="theme">
              <a class="pic" href="/theme/detail.do?themeId={{=theme.id}}">
                <img src="{{=theme.src}}" min-width="77px" min-height="138px" style="width: 100%" alt="{{=theme.title}}"/>
              </a>
              <a class="title">
                <span class="new">{{=theme.charge}}</span>
                <p title="{{=theme.title}}">{{=theme.title}}</p>
              </a>
            </div>
          </div>
          <a class="more" id="morethemes" href="http://www.c-launcher.com/theme/list.do">More</a>
        </div>
      </div>
      <div class="con">
        <div class="wallpapers" id="wallpapers">
          <div>
            <div class="wallpaper">
              <a href="/wallpaper?id={{=wallpaper.id}}">
                <img src="{{=wallpaper.src}}" min-width="128px" min-height="95px" style="width: 100%" alt="{{=wallpaper.title}}"/>
              </a>
            </div>
          </div>
          <a class="more" id="morewallpapers" href="http://www.c-launcher.com/wallpaper/list.do">More</a>
        </div>
      </div>
      <div class="con">
        <div class="cyou-diy">
          <img src="/styles/image/diy.jpg" min-width="131px" min-height="232px" style="width: 100%" alt="Just for you"/>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/module/TouchSlide.1.1.js"></script>
<script type="text/javascript">
    TouchSlide({
        slideCell: '#tabBox',
        endFun: function(i) { //高度自适应
            var bd = document.getElementById('tabBox-bd');
            bd.parentNode.style.height = bd.children[i].children[0].offsetHeight + 'px';
            if (i > 0) {
                bd.parentNode.style.transition = '200ms';//添加动画效果
            }
        }
    })
</script>

{{-include partials/pageFoot.ejs }}
