{{-include partials/pageHead.ejs }}
<div class="page-store">
	{{-include partials/headerStore.ejs }}
	{{-include partials/navStore.ejs }}

	<!-- layout theme -->
	{{-include partials/layoutTheme.ejs }}
	<!-- layout wallpaper -->
	{{-include partials/layoutWallpaper.ejs }}
	<!-- layout diy -->

</div>

{{-include partials/pageFoot.ejs }}
