{{-include partials/pageHead.ejs }}
    <!-- Page content of course! -->
    <!-- Custom styles for this template -->
<style>
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-bottom: 20px;
  }

  /* Set widths on the navbar form inputs since otherwise they're 100% wide */
  .navbar-form input[type="text"],
  .navbar-form input[type="password"] {
    width: 180px;
  }

  /* Wrapping element */
  /* Set some basic padding to keep content from hitting the edges */
  .body-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Let the jumbotron breathe */
    .jumbotron {
      margin-top: 20px;
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
      padding: 0;
    }
  }
</style>


{{-include partials/header.ejs }}
<div class="container">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">

                <h3>Wallpaper List From MongoDB: </h3>
                <ul>
                  {{ wallpapers.forEach(function(wp, idx) { }}
                    <li> {{=wp.title}}({{=wp.author}}) </li>
                  {{ }); }}
                </ul>

  </div>

</div> <!-- /container -->

{{-include partials/pageFoot.ejs }}
