{{-include partials/pageHead.ejs }}
<div class="page-store">

	{{ if(username) { }}
		{{-include partials/headerEditor.ejs }}
	{{ } else { }}
		{{-include partials/headerStore.ejs }}
	{{ } }}
	{{-include partials/navStore.ejs }}

	<div id="slider" class="swipe">
		<div class="swipe-wrap">

	<!-- layout theme -->
	{{-include partials/layoutTheme.ejs }}
	<!-- layout wallpaper -->
	{{-include partials/layoutWallpaper.ejs }}
	<!-- layout diy -->
	{{-include partials/layoutDiy.ejs }}

		</div>
	</div>


</div>

{{-include partials/pageFoot.ejs }}
