{{-include partials/pageHead.ejs }}

<div class="page-login">

  {{-include partials/headerLogin.ejs }}

	<div class="logo">
		<a href="#">CLauncher</a>
	</div>

	<h1>Welcome to CLauncher</h1>
	<form role="form" class="form login" action="/login" method="post">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-adult"></i></span>
				<input type="text" name="username" class="form-control" placeholder="Username" value="{{=username}}" autofocus>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-key"></i></span>
				<input type="password" name="password" class="form-control" placeholder="PassWord">
			</div>
		</div>
		<button type="submit" class="btn btn-default btn-lg cy-btn">Login</button>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="remember" value="1">Remember me
			</label>
			{{ if(typeof message !== 'undefined') { }}
				<span class="text-danger">{{=message}}</span>
			{{ } }}
			<a href="#" class="pull-right brand-green">Retrieve password</a>
		</div>
	</form>
	<hr>
	<form role="form" class="form sinup">
		<div class="form-group">
			<button type="submit" class="btn btn-default btn-lg cy-btn">Sign up</button>
		</div>
	</form>
</div>



{{-include partials/pageFoot.ejs }}
