{{-include partials/pageHead.ejs }}

<div class="page-login">
	<nav class="navbar navbar-default brand-bg" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Login</a>
			</div>
			<div class="collapse navbar-collapse">
				<p class="navbar-text navbar-right"><a href="#" class="navbar-link">CLauncher</a></p>
			</div>
		</div>
	</nav>

	<div class="logo">
		<a href="#">CLauncher</a>
	</div>
	
	<h1>Welcome to CLauncher</h1>

	<form role="form" class="form login">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-adult"></i></span>
				<input type="text" class="form-control" placeholder="Username">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-key"></i></span>
				<input type="password" class="form-control" placeholder="PassWord">
			</div>
		</div>
		<button type="submit" class="btn btn-default btn-lg cy-btn">Login</button>
		<div class="checkbox">
			<label>
				<input type="checkbox">Remember me
			</label>
		<a href="#" class="pull-right">Retrieve password</a>
		</div>
	</form>
	<hr>
	<form role="form" class="form sinup">
		<div class="form-group">
			<button type="submit" class="btn btn-default btn-lg cy-btn">Sign up</button>
		</div>
	</form>
</div>



{{-include partials/pageFoot.ejs }}
