{{-include partials/pageHead.ejs }}

<div class="page-login">

  {{-include partials/headerRegister.ejs }}

	<form role="form" class="form login" method="post" action="/register">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-mail"></i></span>
				<input type="text" class="form-control error" name="email" placeholder="Email address" autofocus>
				<i class="icon-warn"></i>
				<i class="icon-success"></i>
			</div>
			<span class="error-tips">error</span>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-adult"></i></span>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<span class="error-tips">error</span>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-key"></i></span>
				<input type="password" class="form-control" name="password" placeholder="PassWord">
			</div>
			<span class="error-tips">error</span>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-key"></i></span>
				<input type="password" class="form-control" name="password2" placeholder="Re-enter PassWord">
			</div>
			<span class="error-tips">error</span>
		</div>
		<div class="form-group">
			{{=message}}
			<button type="submit" class="btn btn-default btn-lg cy-btn">Sign up</button>
		</div>
	</form>
</div>


{{-include partials/pageFoot.ejs }}
