{{-include partials/pageHead.ejs }}

	{{-include partials/headerStore.ejs }}
  <div class="container">
    <p><label>Name:</label>{{=theme.title}}</p>
    <p><label>Rate:</label></p>
    <p><label>Label:</label>{{=theme.size}}</p>
<a href="/store/theme/{{=theme._id}}/download" class="btn btn-default btn-lg cy-btn">Download</a>
    {{-include partials/themePreview.ejs }}

  </div>
{{-include partials/pageFoot.ejs }}
