{{-include partials/pageHead.ejs }}

<div class="page-package">
  {{-include partials/headerRegister.ejs }}
	<div class="form">

		<div class="col-xs-4">
			<div class="icon-container">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="icon-container">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="icon-container">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="icon-container">
			</div>
		</div>

	</div>
	{{-include partials/footerDiy.ejs }}
</div>
{{-include partials/pageFoot.ejs }}
