{{-include ../partials/pageHead.ejs }}

<div class="page-package">
	{{-include ../partials/header.ejs }}
	<div id="slider" class="swipe">
		<div class="swipe-wrap">

			{{-include layoutWallpaper.ejs }}

			{{-include layoutIconset.ejs }}

			{{-include layoutPackage.ejs }}

		</div>
	</div>
	{{-include footerDiy.ejs }}
</div>
{{-include ../partials/pageFoot.ejs }}
