{{-include ../partials/pageHead.ejs }}

<div class="page-package" data-themeid="{{=themeId}}">
  {{-include ../partials/header.ejs }}
  <div id="slider" class="swipe">
    <div class="swipe-wrap">

      {{-include layoutWallpaper.ejs }}

      {{-include layoutIconset.ejs }}

      {{-include layoutPackage.ejs }}

      <div id="resultPage">
        {{-include packageFailed.ejs }}
        {{-include packageSuccess.ejs }}
      </div>
    </div>
  </div>
  {{-include footerDiy.ejs }}
</div>
{{-include ../partials/pageFoot.ejs }}
