{{-include ../partials/pageHead.ejs }}

<div class="page-package">
	{{-include ../partials/headerRegister.ejs }}
	<div id="slider" class="swipe">
		<div class="swipe-wrap">

			{{-include ../partials/layoutWallpaper.ejs }}

			{{-include ../partials/layoutIconset.ejs }}

			{{-include ../partials/layoutPackage.ejs }}

		</div>
	</div>
	{{-include ../partials/footerDiy.ejs }}
</div>
{{-include ../partials/pageFoot.ejs }}
