<div class="layout icon-container scroll">
	{{iconSets.forEach(function(iconset) { }}
	<div class="col-xs-4">
    <div class="layout-container" data-iconset="{{=iconset._id}}">
			<div class="loader">
				<img class="thum" src="{{=ICONSET_PATH}}{{=iconset.preview}}"></img>
				<img class="loading" src="/images/default.png"></img>
			</div>

		</div>
	</div>
	{{ }) }}

	{{ if(iconSets && iconSets.length) { }}
	<div class="clearfix more">
		<a class="btn cy-btn" href="/design/more/iconset?page=2">More</a>
	</div>
	{{ } }}
</div>
