<div class="layout wallpaper">
	<div class="col-xs-offset-8 text-center">
		<label for="up-wallpaper" class="cy-file-btn">
			<i class="icon icon-folder"></i>
			File
		</label>
		<input id="up-wallpaper" type="file" style="display:none"/>
	</div>
	{{ wallpapers.forEach(function(wallpaper) { }}
		<div class="col-xs-6">
			<div class="layout-container">
				<img src="{{RESOURCE_PATH}}{{wallpaper.files[0].path}}"></img>
			</div>
		</div>
	{{ }) }}

	<div class="clearfix more">
		<a class="btn cy-btn" href="/store/more/wallpaper?page=1">More</a>
	</div>
</div>
