<div class="layout wallpaper scroll" >
  <div class="col-xs-6 text-center">
		<input id="wallpaper-camera" type="file" accept="image/*" capture="camera"/>
		<label for="wallpaper-camera" class="cy-file-btn">
			<i class="icon icon-camera"></i>
			Camera
		</label>
  </div>
	<div class="col-xs-6 text-center">
		<input id="wallpaper-image" type="file" accept="image/png" capture="local"/>
		<label for="wallpaper-image" class="cy-file-btn">
			<i class="icon icon-folder"></i>
			File
		</label>
	</div>
	{{ wallpapers.forEach(function(wallpaper,index) { }}
		<div class="col-xs-6">
      <div class="layout-container" data-wpid="{{=wallpaper._id}}">
				<div class="loader">
					<img class="thum" src="{{=UPLOAD_PATH}}{{=wallpaper.files[0].path}}"></img>
					<img class="loading" src="/images/default.png"></img>
				</div>
			</div>
		</div>
	{{ }) }}

	{{ if(wallpapers && wallpapers.length % 6 === 0) { }}
	<div class="clearfix more">
		<a class="btn cy-btn" href="/design/more/wallpaper?page=2">More</a>
	</div>
	{{ } }}
</div>
