<div class="layout form buildpack">
    <div class="row">
      <label for="inputPassword" class="col-xs-2 control-label">Name:</label>
      <div class="col-xs-10" style="position:relative" id="pkinfos">
        <input id="inputPassword" type="text" class="form-control" id="inputPassword" placeholder="Happy Family"
        value="C-luncher theme pack">
      </div>
    </div>

    <div class="row">
      <label class="col-xs-2">
        Share:
      </label>
      <div class="col-xs-10">
        <input id="shared" type="checkbox" class="js-switch" checked />
      </div>
    </div>

    <div class="form-group">
      <input type="hidden" name="_id" value/>
      <button class="btn btn-default btn-lg cy-btn" id="actBuild">Package</button>
    </div>
    <div class="theme-preview" >
      <div id="sub-slider" class="swipe" slider data-prefix="{{=THEME_PREVIEW_PATH}}">
        <div class="swipe-wrap">
          <div class="preview-container">
            <div class="loader">
              <img class="thum" src="/images/wallpaper.jpg"></img>
              <img class="loading" src="/images/default.png"></img>
            </div>
          </div>
          <div class="preview-container">
            <div class="loader">
              <img class="thum" src="/images/desktop.jpg"></img>
              <img class="loading" src="/images/default.png"></img>
            </div>
          </div>
          <div class="preview-container">
            <div class="loader">
              <img class="thum" src="/images/drawer.jpg"></img>
              <img class="loading" src="/images/default.png"></img>
            </div>
          </div>

        </div>
      </div>

      <div class="sub-menu-bar">
        <a class="cy-dot-btn btn" role="button">
        </a>
        <a class="cy-dot-btn btn" role="button">
        </a>
        <a class="cy-dot-btn btn" role="button">
        </a>
      </div>
    </div>


</div>

