<div class="layout icon-container scroll">
	{{iconSets.forEach(function(iconset) { }}
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="{{RESOURCE_PATH}}{{iconset.preview}}"></img>
		</div>
	</div>
	{{ }) }}

	{{ if(wallpapers && wallpapers.length) { }}
	<div class="clearfix more">
		<a class="btn cy-btn" href="/design/more/iconset?page=1">More</a>
	</div>
	{{ } }}
</div>
