<div class="layout form buildpack">
    <div class="row">
      <label for="inputPassword" class="col-xs-2 control-label">Name:</label>
      <div class="col-xs-10" style="position:relative" id="pkinfos">
        <input id="inputPassword" type="text" class="form-control" id="inputPassword" placeholder="Happy Family">
      </div>
    </div>

    <div class="row">
      <label class="col-xs-2">
        Share:
      </label>
      <div class="col-xs-10">
        <input id="shared" type="checkbox" class="js-switch" checked />
      </div>
    </div>

    <div class="form-group">
      <input type="hidden" name="_id" value="{{=themeId}}" />
      <button class="btn btn-default btn-lg cy-btn" id="actBuild">Package</button>
    </div>
  {{-include ../partials/themePreview.ejs }}
</div>

