<div class="layout icon-container">
	{{iconSets.forEach(function(iconset) { }}
	<div class="col-xs-4">
		<div class="layout-container">
			<img src="/images/detail.jpg"></img>
		</div>
	</div>
	{{ }) }}
	<div class="clearfix more">
		<a class="btn cy-btn" href="/store/more/theme?page=1">More</a>
	</div>
</div>
