{{ wallpapers.forEach(function(wallpaper) { }}
<div class="col-xs-6">
	<div class="layout-container">
		<img src="{{RESOURCE_PATH}}{{wallpaper.files[0].path}}"></img>
	</div>
</div>
{{ }) }}

{{ if(wallpapers && wallpapers.length) { }}
<div class="clearfix more">
	<a class="btn cy-btn" href="/design/more/wallpaper?page={{next_page}}">More</a>
</div>
{{ } }}
