{{iconSets.forEach(function(iconset) { }}
<div class="col-xs-4">
	<div class="layout-container">
		<img src="/images/detail.jpg"></img>
	</div>
</div>
{{ }) }}

{{ if(wallpapers && wallpapers.length) { }}
<div class="clearfix more">
	<a class="btn cy-btn" href="/design/more/iconset?page={{next_page}}">More</a>
</div>
{{ } }}
