<div class="page-package succeeded" style="display:none">
	<div class="form">
		<h1>
			<i class="icon-yes"></i>
			Package Succeeded
		</h1>
		<div class="form-group">
      <a href="" data-path="{{=THEME_PATH}}" download class="btn btn-default btn-lg cy-btn" id="downLoadTheme">DownLoad Theme</a>
		</div>
		<p>The newly submitted theme ranked 1234.Share your theme to
		facebook,twitter and etc; more users highter ranking.</p>

	<div class="share-group" style="display:none">
		<a class="google share-icon"></a>
		<a class="facebook share-icon"></a>
		<a class="twitter share-icon"></a>
	</div>
	</div>
</div>


