<div class="page-package failed">
	<div class="form">
		<h1>
			<i class="icon-no"></i>
			Package Failed
		</h1>
		<div class="form-group">
			<button class="btn btn-default btn-lg cy-btn tryagain" id="tryAgainPack" onmouseup="_czc.push(['_trackEvent', 'tryAgainPack', 'click', 'tryAgainPack', 1, 'tryAgainPack']);">Try again</button>
		</div>
		<p>Common reasons for failure:</p>
		<ol>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Consectetur adipiscing elit</li>
			<li>Integer molestie lorem at massa</li>
			<li>Facilisis in pretium nisl aliquet</li>
			<li>Nulla volutpat aliquam velit</li>
			<li>Faucibus porta lacus fringilla vel</li>
			<li>Aenean sit amet erat nunc</li>
			<li>Eget porttitor lorem</li>
		</ol>
	</div>
</div>


