	<div id="focus" class="focus">
		<div class="nav">
			<ul></ul>
		</div>
		<div class="pic">
			<ul>
					<li><a href="#"><img _src="/images/detail.jpg" src="/images/diy.jpg" /></a></li>
					<li><a href="#"><img _src="/images/detail.jpg" src="/images/diy.jpg"/></a></li>
					<li><a href="#"><img _src="/images/detail.jpg" src="/images/diy.jpg"/></a></li>
			</ul>
		</div>
	</div>
