@import '../variables.less';
.diy {
	.bg {
		background: url('/styles/image/bg.png') center top no-repeat;
		background-size: 100%;
	}
	h1 {
		font-size: 60px;
		line-height: 80px;
		color: @title-green;
	}
	.logo {
		text-align: center;
		margin-top: 60px;
		height: 256px;
		background: url('/styles/image/icon.png') center top no-repeat;
		a {
			margin-top: 70px;
			.logo(110px,110px,100%);
		}
	}
	.button {
		height: 227px;
		margin-top: 97px;
		background: url('/styles/image/bg.jpg') center top no-repeat;
	}
}