@import '../common/variables.less';
@import '../common/button.less';

.page-login{
	 input[type='email'],input[type='password']
	 ,input[type='text'] {
		 height: 40px;
	 }
	 .logo {
	 	text-align: center;
	 	a {
			.logo(90px,90px,100%);
		}
	 }

	 .sinup{
		 .btn{
			 .cy-btn(@orange);
		 }
	 }

	 .login{
		.btn{
			.cy-btn(@brand-green);
		}
	 }


	 .brand-green{
		 color:@brand-green;
	 }

}

.error-tips {
  color: #ec6941;
}
.error {
  border-color: #ec6941;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(236,105,65,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(236,105,65,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(236,105,65,0.6);
}
.icon-warn {
  .judge(38px, 36px, 0px, 0px, 0px, 0px);
}
.icon-success {
  .judge(38px, 36px, 0px, -38px, 0px, -36px);
}


