@import '../common/variables.less';

.page-package{
  .row {
    margin-bottom:30px;
  }

  .icon-container{
    .layout-container{
      height:140px;
      overflow:hidden;
    }
  }
  height:100%;
  margin-bottom:100px;
  .navbar {
    margin-bottom:0;
  }

  .layout{
    padding-top: 30px;
    padding-bottom: 150px;
  }
}
