@import '../common/variables.less';

.page-package{
  .row {
    margin-bottom:30px;
  }

  .theme-preview{
    .loader{
      width: 313px;
      height: 560px;
    }
  }

  .wallpaper .layout-container{
    width: 278px;
    height: 160px;
  }

  .icon-container{
    .layout-container{
      height:140px;
      overflow:hidden;
      background: #e7e7e7;
    }
    .loading{
      height: 150px;
      width: auto;
    }
  }
  height:100%;
  margin-bottom:100px;
  .navbar {
    margin-bottom:0;
  }

  .layout{
    padding-top: 30px;
    padding-bottom: 150px;
  }
  .icon-warn{
    bottom: 14px;
    right: 10px;
  }

	p,li{
		color:#999;
	}
	p{
		margin-top:30px;
	}
	.form {
		padding-top:25px;
	}
	h1 {
		color:darken(#ddd,30%);
		margin-bottom:30px;
	}
	.icon-yes{
		color:#009944;
	}

	.share-group{
		margin-top:30px;
	}

	.share-icon{
		.icon(53px,53px);
		margin-right:15px;
		cursor:pointer;
		background: url('/images/share.png') no-repeat transparent;
	}

	.google{
		background-position: 0px 0px;
	}

	.facebook{
		background-position: -72px 0;
	}
	.twitter{
		background-position: -144px 0;
	}

}
