@import '../common/variables.less';

.page-store{
  background: #e7e7e7;
  .navbar {
    margin-bottom:0;
  }

  .more{
    margin-bottom: 20px;
  }
  .layout{
    padding-top: 105px;
    .info {
      width: 100%;
    }
  }

  .menu-bar{
    z-index:999;
    height:50px;

    .btn {
      border-radius:0;
      font-size: 1.5em;
      border: none;
      border-right:1px solid #ddd;
      box-shadow:none;
      border-bottom:2px solid transparent;
    }

    .active {
      color:@brand-green;
      background:#fff;
      border-bottom-color:@brand-green;
    }
    .box-shadow(1px,1px,3px,#ddd);
  }


  height: 100%;
}

.theme{
  .layout-container:active{
    .box-shadow(0,0,8px 1px,@brand-green);
  }
  .layout-container{
    width: 30%;
    margin: 20px 0 0 2%;
    background: #fff;
  }
}

.wallpaper{
  .layout-container {
    height: 200px;
    overflow: hidden;
    padding: 0;
    background: #e7e7e7;
    width: 48%;
    margin: 5px .5% 0;
  }
  .layout-container:active{
    .box-shadow(0,0,8px 1px,@brand-green);
  }

  img{
    width:100%;
  }
  .layout-container .loading{
    width: auto;
    height: 180px;
  }
}


.theme-preview{
  clear: both;
}

.layout{

  .col-xs-4 {
    padding: 0 5px;
  }
  .col-xs-6 {
    padding: 0 2px;
  }
}

