@import '../variables.less';

.page-store{
	.navbar {
		margin-bottom:0;
	}

	.menu-bar{
		height:50px;

		.btn {
			border-radius:0;
			font-size: 1.5em;
			border: none;
			border-right:1px solid #ddd;
			box-shadow:none;
		}

		.active {
			color:@brand-green;
			background:#fff;
		}
		.box-shadow(1px,1px,3px,#ddd);
	}

	.wallpaper{
		.layout-container {
				height: 200px;
				overflow: hidden;
				padding: 0;
		}

		img{
			width:100%;
		}
	}
	.col-xs-6 {
		padding: 0 2px;
	}
	.col-xs-4 {
		padding: 0 5px;
	}

	margin-bottom:50px;
}

