.theme-detail{
	height: 100%;
	.layout{
		padding-bottom: 60px;
	}
	.navbar{
		margin: 0;
	}

	.info-bar{
		padding: 20px;
		font-size: 15px;
		color: #000;
	}
  .glyphicon-star {
    color: #E28842;
  }
  .glyphicon-star-empty {
    color: #ccc;
  }
	.layout .layout-container img{
		max-width: none;
	}

	.sub-menu-bar{
		margin: 15px 0;
	}
}

.wallpaper-detail{
	hr{
		margin-bottom: 0;
	}

	img{
		min-width: 100%;
	}

	.cy-btn.btn{
		width: 75%;
	}
}
