.container {
	width: 100%;
	margin: 0px auto;
	color: #666666;
	background: #ffffff;
}
.top {
	line-height: 30px;
	width: 100%;
	min-height: 120px;
	text-align: left;
	p {
		margin: 0;
	}
	a {
		float: right;
		display: block;
		width: 40%;
		height: 55px;
		line-height: 55px;
		margin: 35px 0 30px;
	}
}
.bd {
	min-height: 370px;
	.con {
		min-height: 370px;
	}
}
.focus {
	position: relative;
	width: 320px;
	margin: 0 auto;
	overflow: hidden;
}
.nav {
	width: 100%;
	height: 11px;
	position: absolute;
	z-index: 1;
	bottom: 5px;
	text-align: center;
	ul {
		display: inline-block;
		height: 5px;
		padding: 3px 5px;
		background-color: rgba(255,255,255,0.7);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 0;
		vertical-align: top;
	}
	li {
		display: inline-block;
		width: 5px; height:5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #8C8C8C;
		margin: 0 5px;
		vertical-align: top;
		overflow: hidden;
		&.on {
			background: #FE6C9C;
		}
	}
}

.pic {
	position: relative;
	z-index: 0;
	img {
		width: 100%;
		background: url(images/loading.gif) center center no-repeat;
	}
	a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
	}
}

.tempWrap {
	margin-top: 0;
}